name: Build Godot Project FNF

on:
  push: {}
  pull_request: {}

jobs:
  Godot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [Linux, Windows, HTML5]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Build Godot Project
        id: build
        uses: josephbmanley/build-godot-action@v1.4.1
        with:
          name: FNF-Godot-Edition
          preset: ${{ matrix.platform }}
          debugMode: "false"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Client - ${{ matrix.platform }}
          path: ${{ github.workspace }}/${{ steps.build.outputs.build }}
